/*
Place your custom CSS here
*/
.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
  }
  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
      text-decoration: none;
      color: rgba(0,0,0,0.8);
      border-bottom: 1px solid #edd;
      -webkit-transition: .3s border-bottom;
      transition: .3s border-bottom;
  }
  svg rect {
      -webkit-transition: .6s all;
      transition: .6s all;
      fill: none;
      pointer-events: all;    
  }
  
  svg rect:hover {
      fill: #22aa22;
  }
