/*
Place your custom CSS here
*/
.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
  }
  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }
  
  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover{
    text-decoration: none;
  }

  svg text {
    pointer-events: none;    
  }

  svg g:hover text {
    fill: blue;
  }

  svg rect {
    fill: none;
    pointer-events: all;
    cursor: pointer; 
  }

  svg g:hover rect {
    fill: #22aa22;
  }

  svg text{
    font: 30px serif; fill: red;
  }
